<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>healthy.how</title>
</head>

<body>
    <!-- Strat Navbar -->
    <div class="container">
        <header class="header ">
            <div class="navber">
                <div class="logo">
                    <a href="">
                        <h1 class="font-500"> Healthy.How</h1>
                    </a>
                </div>
                <div class="manu">
                    <div>
                        <ul class="d-flex navber nav-link">
                            <li>
                                <a href="#Home">Home</a>
                            </li>
                            <li>
                                <a href="#Our Service">Our Service</a>
                            </li>
                            <li>
                                <a href="#how it work">How it works</a>
                            </li>
                            <li>
                                <a href="#Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a href="#aboutUs">About Us</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="">
                            <button class="btn">Login</button>
                        </a>
                        <a href="">
                            <button class="btn">Sign in</button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- End Navbar -->

</body>

</html>